<h1>Peril</h1>
<p><strong>Nombre:</strong>{{user.name}} {{user.lastname}}</p>
<p><strong>Correo:</strong>{{user.email}}</p>


<form action="/logout" method="POST">
    <input type="submit" value="Salir">
</form>
<script src="/statics/js/user/profile.client.js"></script>
